<!DOCTYPE html>
<!-- saved from url=(0054)https://preview.colorlib.com/theme/bootstrap/table-09/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CoCoStore ETL</title>
<link rel="icon" type="image/x-icon" href="~/css/Coco.png">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="./CCS_ETL_FILES/css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./CCS_ETL_FILES/font-awesome.min.css">
<link rel="stylesheet" href="./CCS_ETL_FILES/style.css">
</head>
<body>
<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center mb-5">
    <img src="~/css/GoGO.png" width="100px" height="100px">
<h2 class="heading-section">ETL</h2>
    <h5 style="color: red;">Please do not click "UPLOAD" button twice! 
    </h5>
    <h5>Thanks
    </h5>

</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-wrap">
<table class="table table-striped">
<thead>
<tr>
<th>No</th>
<th>Services</th>
<th>Tables</th>
<th>Link</th>
</tr>
</thead>
<tbody>
    <tr>
        <th scope="row">01</th>
        <td>Barcode</td><td>OBCD</td>
        <td><a href="http://10.10.10.10:81/api/DataSync/Barcode" class="btn btn-success" target="_blank">Upload</a></td>
        </tr>
        <tr>
        <th scope="row">02</th>
        <td>Manufacturer</td><td>OMRC</td>
                                    <td><a href="http://10.10.10.10:81/api/DataSync/Manufacturer" class="btn btn-success" target="_blank">Upload</a></td>
        </tr>
        
</tbody>
</table>
</div>
</div>
</div>
</div>
 <div style="text-align: center; padding-top: 2%;">
    &copy; Copyright <strong><span>Aung San Min</span></strong>. All Rights Reserved
  </div>
</section> 

<script src="./CCS_ETL_FILES/jquery.min.js.download"></script>
<script src="./CCS_ETL_FILES/popper.js.download"></script>
<script src="./CCS_ETL_FILES/bootstrap.min.js.download"></script>
<script src="./CCS_ETL_FILES/main.js.download"></script>
<script defer="" src="./CCS_ETL_FILES/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon="{&quot;rayId&quot;:&quot;871fa6383d274b77&quot;,&quot;version&quot;:&quot;2024.3.0&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>


</body></html>